[user]
  name  = Paul McCarthy
  email = pauldmccarthy@gmail.com

[color]
  diff   = auto
  status = auto
  branch = auto

[alias]
  sh   = show
  st   = status -sb
  rv   = remote -v
  co   = checkout
  ci   = commit
  cp   = cherry-pick
  ps   = push
  b    = branch
  rb   = rebase
  ss   = stash save
  sp   = stash pop
  sl   = stash list
  upma = "!git fetch --all && git checkout master && git merge upstream/master"
  bd   = "!git push -d origin $1 && git branch -d $1 #"
  dt   = difftool
  di   = diff --ignore-submodules
  dis  = diff --ignore-submodules --ignore-space-at-eol
  wd   = diff --word-diff --ignore-submodules
  lga  = "log --decorate --date=relative --pretty=format:\"%C(yellow)%h %Cblue%>(12)%ad %Cgreen%<(7)%aN%Cred%d %Creset%s\" -20"
  lg   = "log --decorate --date=relative --pretty=format:\"%C(yellow)%h %Cblue%>(12)%ad %Cred%d %Creset%s\" -20"
  lgd  = "log --decorate --date=local    --pretty=format:\"%C(yellow)%h %Cblue%>(12)%ad %Cred%d %Creset%s\""
  ta   = "log --decorate --date-order    --pretty=format:\"%Cblue%>(12)%ad %Cred%d\" --tags --simplify-by-decoration"
  al   = add -u
  ba   = branch -vva --sort=-committerdate
  fe   = fetch --all --prune --tags --force

[push]
	default = simple
[core]
  editor = emacsclient -a '' -s ~/.emacs.d/server -nq
  pager  = less -RXF
  abbrev = 8

[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[diff]
    tool = mydiff

[difftool]
    dir-diff = true
    prompt   = false

[difftool "mydiff"]
    cmd = ~/bin/mydiff \"$LOCAL\" \"$REMOTE\"

[pager]
    difftool = true
